<header class="hd">
  <h1>playlist</h1>
  <nav>
    <a href="/">
      <i class="fa-solid fa-headphones"></i>
      A Theme Playlist</a
    >
    <a href="/edit1.html">
      <i class="fa-solid fa-plus"></i>
      Add</a
    >
  </nav>
</header>
